.fieldGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  font-size: 0.8rem;
  margin-bottom: 8px;
  color: var(--lightgray);
}

.control {
  width: 350px;
  height: 52px;
  font-size: 1rem;
  background-color: var(--darkgray);
  color: var(--white);
  padding-left: 10px;
  line-height: 1.5;
  border-radius: 20px;
  border: 1px solid;
  border-color: var(--gray);
  outline: none;
}

.control:focus {
  border-color: var(--yellow);
}

.textarea {
  min-height: 170px;
  padding-top: 10px;
  resize: vertical;
  line-height: 1.7;
}
