.btn {
  background-color: var(--blue);
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  font-weight: 500;
  width: 310px;
  height: 57px;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--darkblue);
}

.signupBtn {
  background-color: var(--yellow);
  color: var(--darkgray);
}

.signupBtn:hover {
  background-color: var(--mustard);
}

.logoffBtn {
  background-color: var(--red);
}

.logoffBtn:hover {
  background-color: var(--lightred);
}

.customerInfoBtn {
  width: 225px;
  height: 48px;
  font-size: 0.95rem;
}
