.btn {
  background-color: var(--blue);
  color: #fff;
  width: 350px;
  height: 52px;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}

.btn:hover {
  background-color: var(--darkblue);
}

.signupBtn {
  background-color: var(--yellow);
  color: var(--darkgray);
}

.signupBtn:hover {
  background-color: var(--mustard);
}

.logoffBtn {
  background-color: var(--red);
}

.logoffBtn:hover {
  background-color: var(--lightred);
}

.customerInfoBtn {
  width: 225px;
  height: 48px;
  font-size: 0.95rem;
}
