.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.customerName {
  font-size: 2rem;
  color: var(--yellow);
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
}

.customerActions {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding-left: 2.5rem;
  padding-bottom: 0.8rem;
}

.customerActions button:first-child {
  width: 245px;
}

.title {
  background-color: var(--darkgray);
  width: 100%;
  padding: 0.5rem 0 0.5rem 2rem;
  font-size: 1.6rem;
  padding-left: 2.5rem;
  margin: 1rem 0;
}

.notesList {
  background-color: var(--lightgray);
  height: 56vh;
  width: 100vw;
  padding: 0 2.5rem;

  /* implementação de rolagem */
  overflow-y: auto;
  overflow-x: hidden;
}

.pageActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 0 1rem;
}

.error,
.loading,
.noNotes {
  color: var(--yellow);
  padding: 1rem 2.5rem;
  text-align: center;
}
